#content           {width:200px; height: 100px; float: left; position: relative;}
.scrollbar_wrapper {background: green; width: 10px; height: 100%; float: right;}
.scrollbar         {background: black; position: relative}

